/* body{
    background: purple;
} */
.h1{
    background-color: antiquewhite;
}
.h2{
    color:aqua
}
.h3{
    color: white;
    background-color: black;
}

selector {
    property : value;
}

